@import "tailwindcss";

@theme {
    --breakpoint-xs: 360px; /* small phones */
    --breakpoint-sm: 480px; /* phones */
    --breakpoint-md: 768px; /* tablets */
    --breakpoint-lg: 1024px; /* laptops / small desktops */
    --breakpoint-xl: 1280px; /* standard desktops */
    --breakpoint-2xl: 1536px; /* large desktops / wide screens */
}
